@model VIACinema.Models.Login.LoginModel
       

    <form method="post" asp-action="Login">
        <div class="content">
            <div class="login">
                <h3>Log <span>in</span></h3>
               
                <fieldset>
                    <div class="email">
                        <label asp-for="Email">Your Email:</label>
                        <br />
                        <br />
                        <input asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="email">
                        <label asp-for="Password">Your Password:</label>
                        <br />
                        <br />
                        <input asp-for="Password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="errorMessage" asp-validation-summary="All"></div>

                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="wrapper"> <input type="submit" value="Log In" /></div>

                </fieldset>
                
            </div>
        </div>
    </form>

            
