<body id="page5">
    <!-- START PAGE SOURCE -->
    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">
        
                <div id="content">
                    <div class="line-hor"></div>
                    <div class="box">
                        <div class="border-right">
                            <div class="border-left">
                                <div class="inner">
                                    <h3>Our <span>Contacts</span></h3>
                                    <div class="address">
                                        <div class="fleft">
                                            <span>Zip Code:</span>8700<br />
                                            <span>Country:</span>Denmark<br />
                                            <span>Telephone:</span>+45 123456<br />
                                            <span>Fax:</span>+45 5635610
                                        </div>
                                        <div class="extra-wrap">
                                            <span>Miscellaneous info:</span><br />
                                            As Denmark's largest university college with focus on applied science, we are an internationally oriented institution of higher education and help develop the future of public and private professions.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h3>Contact <span>Form</span></h3>
                        <form id="contacts-form" action="#">
                            <fieldset>
                                <div class="field">
                                    <label>Your Name:</label>
                                    <input type="text" value="" />
                                </div>
                                <div class="field">
                                    <label>Your E-mail:</label>
                                    <input type="text" value="" />
                                </div>
                                <div class="field">
                                    <label>Your Website:</label>
                                    <input type="text" value="" />
                                </div>
                                <div class="field">
                                    <label>Your Message:</label>
                                    <textarea cols="1" rows="1"></textarea>
                                </div>
                                <div class="wrapper"> <a href="#" class="link2"> <span> <span>Send Your Message</span> </span> </a> </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <script type="text/javascript">Cufon.now();</script>
    <!-- END PAGE SOURCE -->
</body>
